modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { CI = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 BASE_PATH=/ pnpm --filter @workspace/api-server dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5173 BASE_PATH=/ pnpm --filter @workspace/offer-letter dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.development]

[userenv.shared]
FIELD_ENCRYPTION_KEY = "6ae50df8db4147fdadd548c3a4bd6bcf692930ef919ba6745a2b9e8abc9d2814"

[nix]
channel = "stable-25_05"
